.profileShows ul {
  padding: 0;
  margin: 0 0 0 -20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.profileShows ul > li {
  min-width: 0;
  margin: 10px 0;
  padding-left: 20px;
}

.profileShows .card {
  height: 100%;
}


.profileShows ul > li {
  flex-basis: 100%;
}

@media (max-width: 575.98px) {
  .profileShows h3 {
    text-align: center;
  }

  .profileShows .card {
    max-width: 290px;
    margin: auto;
  }
}

@media (min-width: 576px) {
  .profileShows ul > li {
    flex-basis: 50%
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .profileShows ul > li {
    flex-basis: 33%
  }
}

@media (min-width: 1200px) {
  .profileShows ul > li {
    flex-basis: 25%
  }
}
