.api-status {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: gray;
  border-radius: 8px;
}

.api-status.error {
  background: red;
}

.api-status.online {
  background: green;
}

.api-status.loading {
  background: orange;
}
